<div
    class="card-container w-25 h-25 lg:w-[14vw] lg:h-[14vw] rounded-full overflow-hidden"
>
    <div
        class="rounded-full text-[10px] lg:px-[2vw] lg:py-[2vw] text-white font-medium whitespace-nowrap lg:text-[1.3vw] relative flex flex-col lg:gap-[1.5vw]"
    >
        <div
            class="lg:w-[2vw] lg:h-[2vw] w-[16px] h-[16px] bg-white transition-all mask mask-squircle"
            style="
                    mask-image: url('/assets/telegram.svg');
                    -webkit-mask-image: url('/assets/telegram.svg');
                    mask-repeat: no-repeat;
                    -webkit-mask-repeat: no-repeat;
                    mask-position: center;
                    -webkit-mask-position: center;
                    mask-size: contain;
                    -webkit-mask-size: contain;
                  "
        >
        </div>
        Get in touch
    </div>

    <svg style="display: none; overflow: hidden;">
        <filter
            id="displacementFilter"
            x="-50%"
            y="-50%"
            width="200%"
            height="200%"
        >
            <feTurbulence
                type="turbulence"
                baseFrequency="0.01"
                numOctaves="2"
                result="turbulence"></feTurbulence>

            <feDisplacementMap
                in="SourceGraphic"
                in2="turbulence"
                scale="25"
                xChannelSelector="R"
                yChannelSelector="G"
                result="distorted"></feDisplacementMap>
        </filter>
    </svg>
</div>

<style scoped>
    .card-container {
        position: relative;
        display: inline-block;
    }

    .card-container > div {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-backdrop-filter: url(#displacementFilter);
        backdrop-filter: url(#displacementFilter);
    }

    .card-container::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 0;
        border-radius: 9999px;
        pointer-events: none;
        background: rgba(0, 0, 0, 0.4);
        filter: blur(5px);
    }
</style>
