<div class="w-full relative overflow-hidden = mt-[10vw]">
    <div
        class="absolute inset-0 bg-center bg-cover bg-no-repeat z-0"
        style="background-image: url('/src/assets/bg-2.png');"
    >
    </div>

    <div
        class="relative z-10 h-[50vw] flex items-start pt-[16vw] justify-center"
    >
        <p
            class="text-[#DCD2E2] text-[28vw] font-medium bg-red-950 leading-0 relative"
        >
            6
        </p>

        <div
            class="text-[#DCD2E2] text-[3vw] uppercase text-center absolute z-10 mix-blend-difference right-[29.7%] top-[30%]"
        >
            <p>years in crypto</p>
            <p>Nothing we haven’t seen</p>
        </div>
    </div>
</div>
