---
import Separator from "./Separator.astro";
---

<div class="w-screen pt-[10%] flex flex-col">
    <Separator />
    <div
        class="px-4 py-12 space-y-[48px] flex-col lg:flex-row lg:px-[2vw] lg:h-[40vw] lg:w-[70vw] lg:pt-[5%] lg:pb-[8%] flex lg:space-x-[16vw]"
    >
        <div class="h-full space-y-4 flex flex-col justify-between fade-in">
            <p
                class="uppercase text-[24px] lg:text-[3vw] text-[#DCD2E2] font-[600]"
            >
                superpowers
            </p>

            <p class="text-[14px] lg:text-[1vw] text-[#6E677D]">
                We don’t follow the market. <br />We fix it for 6 years
            </p>
        </div>

        <div
            class="flex w-full justify-end text-[14px] lg:text-[1vw] lg:items-end space-x-[6vw]"
        >
            <div class="text-[#6E677D] space-y-4 lg:space-y-[0.7vw]">
                {
                    [
                        "Product design",
                        " UX research",
                        " Web3 UX",
                        " 3D design",
                        "Frontend (React/Next)",
                        " Backend APIs",
                        " Smart contracts",
                        "Wallet integration",
                        " DevOps",
                        " CI/CD pipelines",
                    ].map((item) => <div class="fade-in">{item}</div>)
                }
            </div>

            <div class="text-[#6E677D] space-y-4 lg:space-y-[0.7vw]">
                {
                    [
                        " Web3 protocols",
                        "Token utilities",
                        "DAO logic",
                        "AI integration",
                        "Dashboard systems",
                        "API architecture",
                        "System scaling",
                        "Performance tuning",
                        "QA & testing",
                        "Design-to-code",
                    ].map((item) => <div class="fade-in">{item}</div>)
                }
            </div>
        </div>
    </div>

    <Separator />
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const observer = new IntersectionObserver(
            (entries) => {
                entries.forEach((entry) => {
                    if (entry.isIntersecting) {
                        entry.target.classList.add("visible");
                        observer.unobserve(entry.target);
                    }
                });
            },
            {
                threshold: 1,
                rootMargin: "0px 0px 0px 0px",
            },
        );

        document
            .querySelectorAll(".fade-in, .scale-in , .fade-in-without-move")
            .forEach((el) => observer.observe(el));
    });
</script>
