<div
    class="grid grid-cols-10 grid-rows-4 w-full px-[2vw] box-border gap-0 pt-[2vw]"
>
    {
        Array.from({ length: 40 }, (_, index) => {
            const imgNumber = index + 1;
            const imgUrl = `/assets/section3/${imgNumber}.png`;
            return (
                <div class="flex items-center justify-center w-full h-full border-[0.5px] border-[#423E4B] fade-in">
                    <img
                        src={imgUrl}
                        alt={`Image ${imgNumber}`}
                        class="w-full h-full object-cover opacity-0 hover:opacity-100 transition-opacity duration-0 hover:duration-0 [transition-delay:0ms] hover:[transition-delay:0ms] [&:not(:hover)]:duration-1000"
                    />
                </div>
            );
        })
    }
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const observer = new IntersectionObserver(
            (entries) => {
                entries.forEach((entry) => {
                    if (entry.isIntersecting) {
                        entry.target.classList.add("visible");
                        observer.unobserve(entry.target);
                    }
                });
            },
            {
                threshold: 1,
                rootMargin: "0px 0px 0px 0px",
            },
        );

        document
            .querySelectorAll(".fade-in, .scale-in , .fade-in-without-move")
            .forEach((el) => observer.observe(el));
    });
</script>
