<div class="flex justify-between px-[1%] relative">
    <div class="relative flex items-center justify-center w-[1%] h-[1vw]">
        <div class="w-full h-[8%] bg-[#6E677D]"></div>
        <div class="w-full h-[8%] bg-[#6E677D] rotate-90 absolute"></div>
    </div>

    <div
        class="absolute left-[3%] opacity-60 right-[1%] top-1/2 transform -translate-y-1/2"
    >
        <div class="h-[0.1vw] bg-[#6E677D] w-[98%]"></div>
    </div>

    <div class="relative flex items-center justify-center ml-10 w-[1%] h-[1vw]">
        <div class="w-full h-[8%] bg-[#6E677D]"></div>
        <div class="w-full h-[8%] bg-[#6E677D] rotate-90 absolute"></div>
    </div>
</div>
