---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="manifest" href="/site.webmanifest" />
		<title>null.face</title>
	</head>

	<body class="font-golos text-[100px] bg-black overflow-x-hidden">
		<slot />
	</body>
</html>
