---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<link
			rel="preload"
			href="/assets/bg-2.png"
			as="image"
			type="image/png"
		/>

		<link
			rel="preload"
			href="/assets/person-header.png"
			as="image"
			type="image/png"
		/>
		<link
			rel="preload"
			href="/assets/person-without-bg.png"
			as="image"
			type="image/png"
		/>

		<link
			rel="preload"
			href="/assets/lights.png"
			as="image"
			type="image/png"
		/>
		<link
			rel="preload"
			href="/assets/bg-2.png"
			as="image"
			type="image/png"
		/>

		<link rel="preconnect" href="https://fonts.googleapis.com" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>null.face</title>
	</head>

	<body
		class="font-golos text-[100px] bg-black overflow-x-hidden selection:bg-[#A732E5] selection:text-white"
	>
		<slot />
	</body>
</html>
